<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="form">
        <h2>Please login</h2>
        <% if(errors && errors.length > 0 ) { %>
                <ul>
                    <% errors.forEach(function (err) {  %>
                        <li class="error"><%= err.msg%></li>
                    <%})%>
                </ul>
          <%}%>
        <form action="/auth/login" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required minlength="8">
            <button type="submit" class="btn submit">Submit</button>
        </form>
          
    </div>
</body>

</html>