<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs',{ user: user })%>
    <section class="members">
        <h1>So you want to join this club</h1>
        <p>Destiny Club House is a club you can <em>join</em>, you are allowed to <em>join</em> this club if you have the passkey or the secret code.</p>
        <p>if you are new to here or doesn't have a passkey just re-read this paragraphs and search the passkey.</p>
        <p>If you have the secret passkeys insert the input below</p>
            <form  class="joinForm" action="/auth/join" method="post">
                <label for="join">Insert the keys here: </label>
                <%if(msg !== undefined && msg !== '') {%>
                    <li class="err"><%= msg %></li>
                    <p><a href="/messages">see messages here</a></p>
                <%}%>
                <input type="text" id="join" name="passkey" placeholder="Insert the Passkey">
                <button type="submit" class="btn">Submit</button>
            </form>
       
    </section>

</body>
</html>