<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs',{ user: user, isMember: false})%>
    <section class="members">
        <h1>So you want to join this club</h1>
        <br>
       <p>Answer this question to join</p>
       <br>
       <div class="question">
        <p>Which company originally developed JavaScript?</p>
       </div>
        
            <form  class="joinForm" action="/auth/join" method="post">
                <label for="join">Insert your answer here: </label>
                <%if(msg !== undefined && msg !== '') {%>
                    <li class="err"><%= msg %></li>
                    <p><a href="/messages">see messages here</a></p>
                <%}%>
                <input type="text" id="join" name="passkey" placeholder="Your answer here">
                <button type="submit" class="btn">Submit</button>
            </form>
       
    </section>

</body>
</html>