<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="form">
        <h2>Please register</h2>
        <form action="/auth/signup" method="post">
            <label for="firstname">First name</label>
        <input type="text" name="firstname" id="firstname" required placeholder="first name">
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" id="lastname" required placeholder="lastname">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required minlength="8">
        <!-- <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm" id="confirm" required> -->
        <button type="submit" class="btn submit">Submit</button>
    </form>
</div>
</body>
</html>