<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
    <ul>
        <h1><a href="/">Destiny Club House</a></h1>
            <div class="navlists">
                <% if(isMember === true) {%>
                    <li><a href="/messages">Messages</a></li>
                <%} else {%>
                <li><a href="/auth/join">Join Club</a></li>
                <% }%>
                <div class="profile">
                    <img class="profile" src="/img/profile.png" alt="">
                    <div class="hidden">

                        <h5>welcome <%= user.firstname.toUpperCase()%></h5>
                        <!-- <h5>@<%= user.username%></h5> -->
                        <h5><a href="/auth/logout">Logout</a></h5>
                    </div>
                </div>
            </div>
    </ul>
</nav>
</body>
</html>