<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create message</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs')%>

    <section class="messageForm">
        <h2>Create Message</h2>
        <form action="/messages/create" method="post">
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
            <button type="btn submit">Submit</button>
        </form>
    </section>
</body>
</html>